@import './vars/vars.scss';

.btn, 
button {
  width: fit-content;
  padding: 0.5rem 0.75rem;
  margin: 2rem 0;
  display: block;
  font-size: 1.5em;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: black;
  background-color: $greenColor;
}

.btn,
.link,
button {
  @include defaultTransition(all)
}

.btn:hover,
.link:hover,
button:hover {
  opacity: 0.7;
}

.circular {
  border-radius: 50%;
  text-align: center;
  padding: 1rem;
}

h1, 
h2, 
h3 {
  padding: 2rem 0 1rem 0;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p,
.logo,
.link {
  font-size: 1.5em;
}

.logo {
  width: fit-content;
  padding: 1rem;
  font-family: 'Kdam Thmor Pro', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25em;
  color: $whiteColor;
  border-bottom: 2px solid $redColor;
  border-top: 2px solid $redColor;
}

h1.logo {
  font-size: 3em;
  margin: 0 auto 4rem auto;
}

.link {
  color: $whiteColor;
}

.danger {
  background-color: $redColor;
}

.success {
  background-color: #2FBF71;
}

main {
  padding: 2rem 2rem 5rem 2rem;
}

form {
  width: fit-content;
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 10px;
  margin: 0 auto;
  background-color: $darkGreyColor;

  &.auth-form {
    padding: 0 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      position: absolute;
      left: -999999px;
    } 

    input {
      margin-bottom: 0.75rem;
    }
  }

  label[for="name"], 
  label[for="region"] {
    position: absolute;
    left: -999999px;
  }

  input {
    padding: 0.5rem 0.75rem;
    display: block;
    font-size: 1.5em;
    border-radius: 10px;
    outline: none;
  }

  select {
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    outline: none;
  }

  button {
    margin-top: 1.5rem;
  }

  .pics-container {
    margin-bottom: 1rem;
  }

  .genres-container div, 
  .providers-container div {
    margin-bottom: 0.2rem;
    display: flex;

    input {
      margin-right: 0.5rem;
    }
  }
}

.auth-prompt {
  margin-top: 1rem;
}

@media(max-width: 450px) {
  .Login,
  .Register {
    form {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    input {
      width: 100%;
    }
  }
}