@import './vars/vars.scss';

.MovieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &.find-mode {
    width: 500px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    margin: 0 auto;   

    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .movie-details {
    width: 100%;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  }

  img {
    object-fit: cover;
    object-position: center;
  }

  .desc {
    display: none;
  }

  .movie-info.expand {

    .desc {
      display: block;
    }
  }
}