@import './vars/vars.scss';

.NavBar {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  z-index: 10;

  .right-wrapper {
    display: flex;
    align-items: center;
  }

  .profile-switcher {
    position: relative;
    z-index: 10;

    .drop-down,
    .drop-down * {
      max-height: 0;
      padding: 0;
      margin: 0;
      font-size: 0;
    }

    .drop-down.show * {
      max-height: initial;
      padding: initial;
      margin: initial;
      font-size: initial;
    }

    .drop-down.show {
      max-height: initial;
      margin-top: 0.5rem;
      padding: 1rem 2rem;
      position: absolute;
      right: 0;
      background-color: darkslategrey;
    }
    
    .profile {
      width: fit-content;
      cursor: pointer;
    }
    
    .profile img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .links {
      display: flex;
      flex-direction: column;
    }
  }
}