@import './vars/vars.scss';

.NavBar {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;

  .right-wrapper {
    display: flex;
    align-items: center;
  }

  .profile-switcher {
    .profile {
      cursor: pointer;
    }
    
    .profile img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }
}