@import './vars/vars.scss';

.NavBar {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(22, 22, 22);
  color: white;
  z-index: 10;

  .home.link {
    margin-right: 2rem;
  }

  .right-wrapper {
    display: flex;
    align-items: center;
  }

  .profile-switcher {
    position: relative;
    z-index: 10;

    .drop-down,
    .drop-down * {
      max-height: 0;
      padding: 0;
      margin: 0;
      font-size: 0;
    }

    .drop-down.show * {
      max-height: initial;
      padding: initial;
      margin: initial;
      font-size: initial;
    }

    .drop-down.show {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: initial;
      margin-top: 0.5rem;
      padding: 2rem 2rem;
      position: absolute;
      border-radius: 10px;
      right: 0;
      background-color: rgba(0, 0, 0, 0.95);

      img {
        margin-bottom: 2rem;
      }

      .link {
        font-size: 1.5em;
      }
    }
    
    .profile {
      width: fit-content;
      cursor: pointer;
    }
    
    .profile img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;

      .link {
        margin-bottom: 1rem;
      }
    }
  }
}