@import './vars/vars.scss';

.Profile {

  .profile-card {
    width: fit-content;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgb(22, 22, 22);
    border-radius: 25px;

    .left-wrapper {
      margin-right: 1rem;
    }

    .profile-info {
      display: flex;
      justify-content: center;
    }
    
    .profile-pic {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
    }

    .name {
      padding: 1rem 0;
      font-size: 2em;
      font-weight: bold;
    }

    .flag {
      width: 75px;
    }

    .provider-logo {
      width: 50px;
    }

    .providers {
      margin-top: 1rem;
      display: flex;
    }

    .inputs {
      display: flex;
      justify-content: center;
      
      button {
        margin-left: 1rem;
      }
    }
  }

  .movies {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}